.vscode/**
.vscode-test/**
src/**
test/**
docs/**
backend/**
scripts/**
github/**
.gitignore
.npmrc
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/tsconfig.tsbuildinfo
**/.vscode-test.*
package-lock.json
pnpm-lock.yaml
dist/analyzer/Testy.Analysis
dist/analyzer/Testy.Analysis.exe
dist/**/*.pdb

.test-tools/**
.github/**
